#wrap{
    width:80%;
    margin:auto;
    border:1px solid #000;
}
.list-item *{
    display: inline-block;
}
.list-item p{
    width: 90%;
}
.list-item:hover{
    background: #eee;
}
.delete-button{
    cursor: pointer;
}
.red{
    color:red;
}